<div class="row timeline-row">
    <div class="col-sm-5">
      <div class="sticky-img-wrap">
        <img src="{{ .Params.Image }}" class="img-fluid" style="width: 100%; border-radius: 3%;">
      </div>
    </div>
    <div class="col-sm-1 timeline-center">
      <div class="timeline-dot"></div>
    </div>
    <div class="col-sm-6">
      <h4 class="list-group-item-heading">
        <a href="{{ .Params.repo }}" style="text-color: black;">{{ .Title }}</a>
        {{ if isset .Params "stars" }}
          <small>  ★ {{ .Params.stars}} </small>
        {{else}}
        {{ end }}
      </h4>
      <div class="markdown-body">
        {{ .Content }}
      </div>
    </div>
</div>