<div class="list-group borderless">
	<div class="alert alert-warning" style="line-height: 1.5;">
              <h4>🇺🇦 #StandWithUkraine</h4>
              <p class="small">On Feb. 24, 2022 Russia declared an <a class="btn-warning" href="https://war.ukraine.ua/russia-war-crimes/">unprovoked war on Ukraine</a> and launched a full-scale invasion. Russia is currently bombing peaceful Ukrainian cities, including schools and hospitals and attacking civilians who are fleeing conflict zones.</p>
              <p class="small">Please support Ukraine by lobbying your governments, protesting peacefully, and donating money to support the people of Ukraine. Below are links to trustworthy organizations that are helping to defend Ukraine in this unprovoked war: </p>
              <ul>
              <li><a class="btn-warning" href="https://www.comebackalive.in.ua/donate">Donate to Come Back Alive</a></li>
              <li><a class="btn-warning" href="https://koloua.com/en/">Donate to KOLO</a></li>
              <li><a class="btn-warning" href="https://prytulafoundation.org/en">Donate to Prytula Foundation</a></li>
              </ul>
    </div>
    <!-- <img src="{{ .Params.Image }}" style="float:center; border-radius: 7%; display: block; margin-left: auto; margin-right: auto;"> -->
    <h1 class="title text-center">{{ title .Title }}</h1>
    <hr class="small">
	{{ .Content }}
</div>

