{{ partial "header.html" .}}

  <!-- Page Header -->
  
   <div class="container">
     <div class="row">
       <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
           <h3>
              <small>
                <strong><a href="{{ .Site.Params.Baseurl }}/" class="uncolored" style="text-decoration: underline;">Blog</a></strong> •
                <strong><a href="{{ .Site.Params.Baseurl }}/projects" class="uncolored">Projects</a></strong> •
                <strong><a href="{{ .Site.Params.Baseurl }}/oss" class="uncolored">OSS</a></strong> •
                <strong><a href="{{ .Site.Params.Baseurl }}/about" class="uncolored">About</a></strong>
              </small>
           </h3>
    
            {{ partial "stand-with-ukraine.html" . }}
       </div>
     </div>
   </div>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
          <div class="list-group borderless">
            {{ range first 10 (where .Site.RegularPages ".Params.onmain" true) }}
                {{ .Render "summary"}}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
