{{ partial "header.html" .}}

  <!-- Page Header -->
  <header class="intro-header">
   <div class="container">
     <div class="row">
       <img src="{{ $.Site.BaseURL }}/img/logo.png" alt="logo" class="img-circle center-block" width="120" height="120">
     </div>
     <div class="row">
       <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1">
           <h1 class="text-uppercase text-center">{{ title .Site.Title }}</h1>
           <div class="row text-center">
             <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1">
               <a href="https://twitter.com/{{ .Site.Social.twitter }}"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
               <a href="https://github.com/{{ .Site.Social.github }}"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
               <a href="https://www.linkedin.com/in/{{ .Site.Social.linkedin }}"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
             </div>
           </div>
           {{ if isset .Site.Params "Description" }}
                <h4 class="text-center">
                  <small>
                    {{ .Site.Params.Description }}
                  </small>
                </h4>
          {{ end }}
          <hr class="small">
       </div>
     </div>
   </div>
  </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="list-group borderless">
            {{ range first 10 (where .Data.Pages "Type" "post") }}
                {{ .Render "summary"}}
            {{ end }}
          </div>
        </div>
      </div>
    </div>

{{ partial "footer.html" .}}
