{{ partial "header.html" .}}

  <!-- Page Header -->
  <header class="intro-header">
   <div class="container">
     <div class="row">
       <img src="{{ $.Site.BaseURL }}/img/logo.jpg" class="img-circle center-block" width="120" height="120">
     </div>
     <div class="row">
       <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1">
           <h1 class="title text-center">{{ title .Site.Title }}</h1>
                <h4 class="text-center">
                  <small>
                    <strong><a href="{{ .Site.Params.Baseurl }}/projects" class="uncolored">Projects</a></strong> •
                    <strong><a href="https://github.com/{{ .Site.Params.Github }}" class="uncolored">Github</a></strong> •
                    <strong><a href="https://twitter.com/{{ .Site.Params.Twitter }}" class="uncolored">Twitter</a></strong> •
                    <strong><a href="{{ .Site.Params.Baseurl }}/post/about" class="uncolored">About</a></strong>
                  </small>
                </h4>
          <hr class="small">
       </div>
     </div>
   </div>
  </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="list-group borderless">
            {{ range first 10 (where .Site.RegularPages ".Params.onmain" true) }}
                {{ .Render "summary"}}
            {{ end }}
          </div>
        </div>
      </div>
    </div>

{{ partial "footer.html" .}}
